@{
    var action = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Admin - @ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <style>

        body {
            font-size: .875rem;
        }

        .feather {
            width: 16px;
            height: 16px;
            vertical-align: text-bottom;
        }

        /*
        * Sidebar
        */

        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100; /* Behind the navbar */
            padding: 0;
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }

        .sidebar-sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 48px; /* Height of navbar */
            height: calc(100vh - 48px);
            padding-top: .5rem;
            overflow-x: hidden;
            overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        }

        .sidebar .nav-link {
            font-weight: 500;
            color: #333;
        }

            .sidebar .nav-link .feather {
                margin-right: 4px;
                color: #999;
            }

            .sidebar .nav-link.active {
                color: #007bff;
            }

                .sidebar .nav-link:hover .feather,
                .sidebar .nav-link.active .feather {
                    color: inherit;
                }

        .sidebar-heading {
            font-size: .75rem;
            text-transform: uppercase;
        }

        /*
        * Navbar
        */

        .navbar-brand {
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: 1rem;
            background-color: rgba(0, 0, 0, .25);
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
        }

        .navbar .form-control {
            padding: .75rem 1rem;
            border-width: 0;
            border-radius: 0;
        }

        .form-control-dark {
            color: #fff;
            background-color: rgba(255, 255, 255, .1);
            border-color: rgba(255, 255, 255, .1);
        }

            .form-control-dark:focus {
                border-color: transparent;
                box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
            }

        /*
        * Utilities
        */

        .border-top {
            border-top: 1px solid #e5e5e5;
        }

        .border-bottom {
            border-bottom: 1px solid #e5e5e5;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">EcoCharge</a>
        @*<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">*@
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                @{
                    var erro = TempData["Erro"];
                    var sucesso = TempData["Sucesso"];

                    if (erro != null)
                    {
                        if ((bool)erro == true)
                        {
                            <div id="mensagem_alerta" class="alert alert-danger" role="alert">
                                @TempData["Mensagem"]
                            </div>
                        }
                    }
                    if (sucesso != null)
                    {
                        if ((bool)sucesso == true)
                        {
                            <div id="mensagem_alerta" class="alert alert-success" role="alert">
                                @TempData["Mensagem"]
                            </div>
                        }
                    }
                }
            </li>
        </ul>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <form action="/Admin/Logout/" method="post" enctype="text/plain"><button class="btn btn-light" type="submit">Deslogar</button></form>
            </li>
        </ul>

    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link @(action == "Dashboard" ? "active" : "")" href="/Admin/Dashboard/">
                                <span data-feather="bar-chart-2"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(action == "Usuarios" ? "active" : "")" href="/Admin/Usuarios/">
                                <span data-feather="users"></span>
                                Usuários
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(action == "Aparelhos" ? "active" : "")" href="/Admin/Aparelhos/">
                                <span data-feather="smartphone"></span>
                                Aparelhos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(action == "Seriais" ? "active" : "")" href="/Admin/Seriais/">
                                <span data-feather="database"></span>
                                Seriais
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(action == "Medidores" ? "active" : "")" href="/Admin/Medidores/">
                                <span data-feather="activity"></span>
                                Medidores
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(action == "Comodos" ? "active" : "")" href="/Admin/Comodos/">
                                <span data-feather="home"></span>
                                Comodos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(action == "Logs" ? "active" : "")" href="/Admin/Logs/">
                                <span data-feather="file-text"></span>
                                Logs
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Alguma coisa importante</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Current month
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Last quarter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Social engagement
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Year-end sale
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            @RenderBody()

            @{

                if (action != "Logs" && action != "Dashboard")
                {
                    <div class="modal show fade" id="modal@(action)" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="modalUsuariosLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <form action="/Admin/@(action)Save" method="post" enctype="multipart/form-data">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalUsuariosLabel">Salvar - @(action)</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @Html.Partial("~/Views/Admin/" + action + "Modal.cshtml")
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }

                <script>

                    function openModal() {
                        $('#modal@(action)').modal('show');
                    }

                </script>

            }

        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    @*<script>
            $(document).ready(function () {
                var alerta = document.getElementById("mensagem_alerta");

                if (alerta != null) {
                    setTimeout(function () {
                        $(alerta).fadeOut(500);
                    }, 4000);
                }
            });

            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                    datasets: [{
                        data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                        lineTension: 0,
                        backgroundColor: 'transparent',
                        borderColor: '#007bff',
                        borderWidth: 4,
                        pointBackgroundColor: '#007bff'
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    },
                    legend: {
                        display: false,
                    }
                }
            });
        </script>*@
</body>
</html>
