@model Models.Login
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/Content/images/icons/tomada.ico" />
    <meta name="google-signin-client_id" content="360343055425-vo5c55eae7dflig9tfki77cqsq18am7k.apps.googleusercontent.com">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,700" rel="stylesheet">
    <link href="~/Content/css/swiper.min.css" rel="stylesheet" />
    <link href="~/Content/css/style_input.css" rel="stylesheet" />
    <link href="https://farbelous.io/bootstrap-colorpicker/v2/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <script src="~/Scripts/swiper.min.js"></script>
    <script src="~/Scripts/js.js"></script>
    <script src='https://farbelous.io/bootstrap-colorpicker/v2/dist/js/bootstrap-colorpicker.js'></script>

</head>
<body style="font-family: 'Comfortaa', cursive;overflow: hidden ;overflow-y: scroll;">

    <nav class="navbar navbar-expand-lg navbar-dark  bg-dark " style="font-family: 'Comfortaa', cursive;background-image: linear-gradient(to right, #62a8db , #6cb27c) !important;">
        <img src="~/Content/img/icone_branco.png" style="width: 32px;margin-right: 10px;margin-left: 20px;" alt="logo"><a class="navbar-brand" href="#" style="font-size: 22px;font-weight: 600;padding-right: 0px;">Ecocharge</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" style="text-align: center;">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index">Início <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">EcoSense</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Aplicativo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quem Somos</a>
                </li>

            </ul>
            @if (Session["UserLogado"] != null ? (bool)Session["UserLogado"] : false)
            {

                <form class="form-inline my-2 my-lg-0" action="/Account/Deslogar" method="POST" enctype="multipart/form-data">
                    <ul class="navbar-nav mr-auto" style="text-align: center;font-weight: 900;">

                        <li class="nav-item">
                            <a class="nav-link" href="/Painel/Index">Painel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="my()">Deslogar</a>
                            <script>
                                function my() {
                                    document.getElementById("submit").click();
                                }
                            </script>
                            <button class="d-none" type="submit" id="submit"></button>
                        </li>

                    </ul>
                </form>

            }
            else
            {
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto" style="text-align: center;font-weight: 900;">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Account")">Entrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Cadastro", "Account")">Cadastre-se</a>
                        </li>
                    </ul>
                </form>
            }
        </div>
    </nav>

    @if (Session["UserLogado"] != null ? (bool)Session["UserLogado"] : false)
    {

        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper" style="top: 0px;">
                <ul class="sidebar-nav justify-content-md-center text-center">

                    <img src="@Session["UserFoto"]" style="background-color:white;width:90px;border-radius: 50px;margin-top:10px" />

                    <li class="sidebar-brand" style="font-size: 16px;">
                        <a href="/Usuario/Index">
                            @if (Session["UserNome"] != null)
                            {
                                @Session["UserNome"] @Session["UserSpace"] @Session["UserSobrenome"];
                            }
                            else
                            {
                                @Session["UserEmail"];
                            }

                        </a>
                    </li>
                    <li>
                        <a href="/Painel/Index">Painel</a>
                    </li>
                    <li>
                        <a href="/EcoSense/Index">EcoSense</a>
                    </li>
                    <li>
                        <a href="/Comodo/Index">Seus Cômodos</a>
                    </li>
                    <li>
                        <a href="/Aparelho/Index">Seus Aparelhos</a>
                    <li>
                    <li>
                        <a href="/Agendamento/Index">Seus Agendamentos</a>
                    <li>
                        <a href="/Consumo/Index">Estatisticas</a>
                    </li>
                    <li>
                        <a href="/Tarifa/Index">Tarifa</a>
                    </li>
                    <li>
                        <a href="/Ajuda/Index">Ajuda</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
        </div>

        @*<div id="container-floating">
                <div id="floating-button">
                    <p class="plus"><img src="~/Content/img/icone_branco.png" style="width: 50px;margin-top: 17px;" /></p>
                </div>
            </div>*@

        <button class="fab-button opt" id="adicionar"><img src="~/Content/img/icone_branco.png" style="width: 65%;" /></button>

    }

    @{
        var erro = TempData["Erro"];
        var sucesso = TempData["Sucesso"];

        if (erro != null)
        {
            if ((bool)erro == true)
            {
                <div id="mensagem_alerta" class="alert alert-danger" role="alert" style="bottom: 0;margin-left: 8px;position:absolute !important;z-index: 99999999999999999999999999;">
                    @TempData["Mensagem"]
                </div>
            }
        }
        if (sucesso != null)
        {
            if ((bool)sucesso == true)
            {
                <div id="mensagem_alerta" class="alert alert-success" role="alert" style="bottom: 0;margin-left: 8px;position:absolute !important;z-index: 99999999999999999999999999;">
                    @TempData["Mensagem"]
                </div>
            }
        }
    }

    @RenderBody()

    <script>

        $(document).ready(function () {
            var alerta = document.getElementById("mensagem_alerta");

            if (alerta != null) {
                setTimeout(function () {
                    $(alerta).fadeOut(500);
                }, 4000);
            }
        });

        function onSuccess(googleUser) {
            console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        }

        function onFailure(error) {
            console.log(error);
        }

        function renderButton() {
            gapi.signin2.render('my-signin2', {
                'scope': 'profile email',
                'width': 240,
                'height': 50,
                'longtitle': true,
                'theme': 'dark',
                'onsuccess': onSuccess,
                'onfailure': onFailure
            });
        }
        $(document).on("click", ".navbar-right .dropdown-menu", function (e) {
            e.stopPropagation();
        });

        function UsuarioLogado(data) {
            //
        }

        function UsuarioCadastrado(data) {
            //
        }

        function OnDeslogar(response) {
            var obj = response.responseJSON;

            alert(obj.Msg);

            window.location = "/Home/";
        }

        $("#adicionar").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $("#sidebar-wrapper").on('mouseleave touchend', function () {
            $("#wrapper").toggleClass("toggled");
        });



    </script>

</body>
</html>
<style>
    .fab-button {
        position: fixed;
        right: 60px;
        bottom: 50px;
        background: #6abcec;
        color: #fff;
        width: 74px;
        height: 74px;
        text-align: center;
        font-size: 40px;
        line-height: 0px;
        border: none;
        vertical-align: middle;
        border-radius: 50%;
        z-index: 999999999;
    }

    .fab-button-close {
        position: fixed;
        left: 60px;
        bottom: 50px;
        background: #000;
        color: #fff;
        width: 128px;
        height: 64px;
        text-align: center;
        font-size: 25px;
        line-height: 0px;
        border: none;
        vertical-align: middle;
    }

    .btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
    }
</style>